Node-RED function.txt
[{"id":"3beeb4aa.7958ac","type":"ui_text_input","z":"37902330.06ef7c","name":"","label":"SSID","group":"de8fe6c8.8a5268","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":130,"y":80,"wires":[["e46cb247.bb14a"]]},{"id":"f160a9fe.c95a08","type":"ui_text_input","z":"37902330.06ef7c","name":"","label":"Password","group":"de8fe6c8.8a5268","order":0,"width":0,"height":0,"passthru":true,"mode":"password","delay":"0","topic":"","x":140,"y":120,"wires":[["6eae1d96.71fce4"]]},{"id":"bcd29f19.3ea45","type":"ui_dropdown","z":"37902330.06ef7c","name":"","label":"Encryption","place":"Choose encryption mode","group":"de8fe6c8.8a5268","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"WPA2","value":"WPA2","type":"str"},{"label":"WEP","value":"WEP","type":"str"}],"payload":"","topic":"","x":150,"y":160,"wires":[["8321607b.c33b2"]]},{"id":"4be24e2b.166ef","type":"mqtt in","z":"37902330.06ef7c","name":"","topic":"node/qr-terminal:0/thermometer/0:1/temperature","qos":"2","broker":"e649966c.8c2af8","x":260,"y":260,"wires":[["ed874517.510358"]]},{"id":"6eae1d96.71fce4","type":"function","z":"37902330.06ef7c","name":"Password Saver","func":"flow.set(\"password\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":120,"wires":[[]]},{"id":"e46cb247.bb14a","type":"function","z":"37902330.06ef7c","name":"SSID Saver","func":"flow.set(\"SSID\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":80,"wires":[[]]},{"id":"8321607b.c33b2","type":"function","z":"37902330.06ef7c","name":"Encryption Saver","func":"flow.set(\"encryption\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":160,"wires":[[]]},{"id":"289856f1.3d95fa","type":"mqtt in","z":"37902330.06ef7c","name":"","topic":"node/qr-terminal:0/push-button/-/event-count","qos":"2","broker":"e649966c.8c2af8","x":250,"y":220,"wires":[["ed874517.510358"]]},{"id":"ed874517.510358","type":"function","z":"37902330.06ef7c","name":"String builder","func":"msg.payload = \"\\\"\"\nmsg.payload = msg.payload + \"WIFI:S:\" + flow.get(\"SSID\") + \";T:\" + flow.get(\"encryption\") + \";P:\" + flow.get(\"password\") + \";;\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":240,"wires":[["ab33b55c.6ab6f8"]]},{"id":"ab33b55c.6ab6f8","type":"mqtt out","z":"37902330.06ef7c","name":"","topic":"node/qr-terminal:0/qr/-/chng/code","qos":"","retain":"","broker":"e649966c.8c2af8","x":1020,"y":240,"wires":[]},{"id":"de8fe6c8.8a5268","type":"ui_group","z":"","name":"Wifi Terminal","tab":"730068c3.7f7ab8","disp":true,"width":"6","collapse":false},{"id":"e649966c.8c2af8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"730068c3.7f7ab8","type":"ui_tab","z":"","name":"Wifi Terminal","icon":"dashboard"}]
